[user]
	name = Vivek Sundaray
	email = viveksundaray123@outlook.com
    signingkey = viveksundaray123@outlook.com
[core]
	editor = vim
	autocrlf = input
[init]
	defaultBranch = main
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[https]
	sslverify = false
